.header {
    background-color: rebeccapurple;
    margin-bottom: 2rem;
    padding: 1rem;

    h1 {
        margin-bottom: 0;
    }

    a {
        color: #fff;
        text-decoration: none;
    }
}
